@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.home, .products, .users, .orders, .newProduct {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-style: 3rem;
}